#name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #6c757d!important;
}

#internship{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #6c757d!important;
}

#profile:hover {
    opacity: 0.5;
}