body {
    font-family: 'Changa One', cursive;
}

.bg-light{
    background-image: url(http://dodskypict.com/D/Moon-Wallpaper-On-Wallpaper-Hd-20.jpg);
    background-size:cover;
}

.section-subheading{
    color:white;
}

.about{
    font-size: 24px;
}

.imani {
    width:300px;
    margin-bottom: 18px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
.name{
    font-weight: bold;
    color:white;
}

.company {
    font-weight: bold;
    color: #EF5330;
}

.heading{
    color: #EF5330;
}

.work {
    font-size:24px;
}

.experience {
    font-size: 24px;
}

.takeaways {
    font-size: 24px;
}

.wide-frame {
    width:1030px;
    height: 800px;
    margin-left: 50px;
    margin-bottom: 18px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.intern_ps {
    margin-left: 20px;
    
}

.pg {
    width: 500px;
    height: 754px;
    margin-bottom: 18px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.policygenius {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projectImg {
    margin-left: 50px;
    margin-bottom: 80px;
    height:500px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.header {
    margin-left: 170px;
}

.profile-icon {
    color: black;
  }
  
.portfolio {
    margin-bottom: 15px;
}

.portfolio:hover {
    color:black;
    background-color:lightgray;
    border:0;
}