body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Changa One', cursive;
}

.container {
    width:90%;
}

.row {
    display:flex;
    justify-content: center;
    align-items:center;
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 90%;
    max-height:650px;
}

.bg-light {
    margin-top: 0;
    background-image: url(http://dodskypict.com/D/Moon-Wallpaper-On-Wallpaper-Hd-20.jpg);
    background-size: cover;
}

.title {
    margin-top: 20px;
    margin-left: 50px;
}
.portfolio {
    margin-bottom:15px;
}

.portfolio:hover {
    color:white;
}

.profile-icon {
    color:black;
}

.profile-icon:hover {
    color:white;
}
.section-subheading {
    color: white;
}

.about {
    font-size: 24px;
}

.imani {
    width: 300px;
    margin-bottom: 18px;
}

.name {
    font-weight: bold;
    color: white;
}

.company {
    font-weight: bold;
    color:#ff700a;
    padding:15px;
}

.heading {
    color: #ff700a;
}

.footer-text img{
    margin-bottom: -5px;
}

.caption {
    color:#ff700a;
}
.work {
    font-size: 24px;
}

.experience {
    font-size: 24px;
}

.takeaways {
    font-size: 24px;
}

.wide-frame {
    width:1000px;
}

.loader {
    height:600px;
}

.projects {
    height:100%;
}

a:hover {
    color: black;
}

.btn:hover {
    background-color:white;
}

.before-after-buttons {
    margin-bottom: 15px;
}

.mapouter {
    height: 600px;
    max-width: 1300px;
    
}

.gmap_canvas {
    height: 600px;
    max-width:1300px;
}

.footer-icon:hover {
    color:#ff700a;
}

.profile-icon:hover {
    color:#ff700a;
}