body {
    font-family: "Roboto Slab","Helvetica","Arial","sans-serif"
}

.navbar {
	background-color: #FFF;
    border-color: #FFF;
}

.nav-link {
   color:grey; 
}


.navbar-brand {
    color: #EF5330;
}

.navbar-collapse {
    color:grey;
}

a {
    color:black;
}

a:hover {
    color:lightgray;
    text-decoration: none;
}

.jumbotron {
    padding-top: 150px; 
	height: 500px;
	background-image: url(https://www.scripted.org/wp-content/uploads/2014/08/se_141-1650x723.jpg)
}

.jumbotron h1{
	color: #FFFFFF;
}
.jumbotron {
	color: #FFFFFF;
	margin: 0;
}

.btn-primary {
	background-color:#EF5330;
    border-color: #EF5330;
}

.btn-primary:hover {
	background-color:lightgray;
    border-color: lightgray;
}

#interns{
    padding: 50px;
}

.section-heading {
    color: #15C2D2;
    font-family: "proxima-nova","Helvetica","Arial", "sans-serif";
}

.intern {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.intern img {
    height: 175px;
    width: 175px;
}

.profile {
    margin-top:50px;
    padding:50px;
}

.profile-img {
    height: 300px;
    width: 300px;
}

.profile-icon {
    color: grey;
    font-size: 2em;
    text-decoration: none;
}

.profile-icon:hover {
    
    color: LightGray;
    text-decoration: none;
}

.info {
    padding:50px;
}


.footer {
    background-color: #EF5330;
    border-color: #EF5330;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
}

.footer-icon {
    color: #FFF;
    font-size: 2em;
    text-decoration: none;
}

.footer-text {
    color: #FFF;
}

.footer-logo {
    height: 1em;
    margin-bottom: 5px;
}
