body {
    font-family: "Helvetica","Arial","sans-serif";
}


.navbar {
    background-color: #FFF;
    border-color: #FFF;
}

.nav-link {
   color:grey;
}


.navbar-brand {
    color: #000000;
}

.brand-image {
    height: 1em;
}

.navbar-collapse {
    color:grey;
}

a {
    color:black;
}

a:hover {
    color:lightgray;
    text-decoration: none;
}

.jumbotron {
    padding-top: 150px;
	height: 500px;
	background-image: url(https://codenation.org/wp-content/uploads/2018/09/hero-home.png)
}

.jumbotron h1{
	color: #FFFFFF;
}
.jumbotron {
	color: #FFFFFF;
	margin: 0;
}

.jumbotron p {
    font-size: 1.25em;
}

.btn-primary {
	background-color: #0080ff;
    border-color: #0080ff;
}

.btn-primary:hover {
	background-color:lightgray;
    border-color: lightgray;
}
.btn-light{
	background-color:black;
    border-color: black;
}


#interns{
    padding: 50px;
}

.intern {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.intern img {
    height: 125px;
    width: 125px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.profile {
    margin-top:50px;
    padding:50px;
    background-color: lightblue;
}

.profile-img {
    height: 350px;
    width: 300px;
}

.profile-icon {
    color: grey;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.profile-icon:hover {
    color: grey;
    text-decoration: none;
}

.info {
    padding:50px;
/*     background-color: #00FF80; */
}


.footer {
    background-color: white;
    border-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: grey;
}

.footer-icon {
    color: black;
    font-size: 1em;
    text-decoration: none;
}

.footer-text {
    color: black;
}

.footer-logo {
    height: 2em;
    margin-bottom: 5px;
}
