.bg-light {
    	background-image:url("background.jpg")!important;
}
.text-muted{
        color: #17c2d3!important;
}
.navbar {
    background-color: #2b2a2a;
    border-color: #060606;
}
.navbar-brand {
    color: #19b5c6;
}
.info {
    padding: 50px;
    background-color: #18c2d4;
}
.section-heading {
    color: #ffffff;
    font-family: "proxima-nova","Helvetica","Arial", "sans-serif";
}
body{
    color:#fff;
}
