p, li{
    font-size:18px;
}
#vaan{
    color:#40464b;
}
#mapButton, #vaanMapButton{
    background-color:#b2b8f9;
    border-color:white;
    font-family: 'EB Garamond', serif;
}
#mapButton{
    font-size:20px;
    width:5em;
}
.footer-text, .navbar-brand{
    font-family: 'Rochester', cursive;
    color:white;
}
.navbar-brand{
    font-size:30px;
}
#myPicture{
    width:185px;
}
.section-subheading, .section-text, .address, p, ul{
    font-family: 'EB Garamond', serif;
}
#mainNav, .footer{
    background-color:#b2b8f9;
}
.info{
    background-color: #e5e7fd;
}
.section-heading{
    font-family: 'Rochester', cursive;
    color:#b200ff;
}
#myName{
    padding:50px;
    font-size:50px;
}

#mainNav::after{
    position:absolute;
    bottom: -50px;
    left: 0px; 
    width: 100%;
    content:" ";
    background: 
    radial-gradient(circle at 50% 0%, #b2b8f9 25%, #f8f9fa 26%, #f8f9fa 40%);
    background-color: #b2b8f9;
    background-size:40px 100px;
    height:50px;
    background-repeat: repeat-x;
}


#myPortfolio{
    width:40px;
}
#myCarousel{
    height:200px;
}
.gallery{
    background-color: #f8f9fa;
    padding:50px;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b2b8f9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b2b8f9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-indicators .active{
    background-color: #e5e7fd;
}
.carousel-caption{
    color:black;   
}