body {
    background: linear-gradient(to bottom right, #FFB6C1, #d88591, #e37383);
    background-size: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Spirax', cursive;

}
.profile{
     background: linear-gradient(to bottom right, #FFB6C1, #d88591, #e37383);
    background-size: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Spirax', cursive;

}
h2{
    font-family: 'Spirax', cursive;

}