.jumbotron {
    font-family: 'Galada', cursive;
}
.rounded-circle {
    height: 400px;
    
}
.navbar-brand {
    font-family: 'Galada', cursive;
    color: Grey;
}
.footer-text {
    font-family: 'Galada', cursive;
    
}