.section-heading {
    color: black;
    font-family: monospace;
}

body {
    font-family: serif;
}

.p {
    font-family: palatino;
}

/*.project{*/
/*    width: 1000px;*/
/*    height: 140px;*/
/*}*/