.name {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    color: black;
    /*font-weight: bold;*/
    -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: white;
}

.section-subheading {
    font-family: 'Abel', sans-serif;
}

.section-subheader {
    font-family: 'Abel', sans-serif;
}

.section {
    text-align: center;
}

.bg-light {
    /*background-image: url(https://i.imgur.com/SvnuN4M.png);*/
    background-image: url(http://media.idownloadblog.com/wp-content/uploads/2016/02/Alex-Muench-Minimalist-Wallpaper-Desktop-1920x1080.png);
    /*https://images7.alphacoders.com/708/thumcb-1920-708805.jpg*/
    width: 100%;
    height: 100%;
    /*background-repeat: no-repeat;*/
    background-position: center;
}

a {
    text-decoration: underline;
}