#header {
    background: green;
}

#custom {
    background-image: url("past_cat.jpg");
}
#status {
    color: orange;
}
#name {
    background-color: black;
}
#profile {
    height: 400px;
}
#link {
    margin-bottom: 20px;
}
#exp1 {
    width: 100%;
}
#exp2 {
    width: 100%;
}
.profile-icon {
    color: purple;
}
body {
    
}