.bg-light { 
      background-image: url("./background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
} 

.text-uppercase { 
      color: white;
      font-weight: bold;
} 

.section-subheading { 
      color: white;
} 

/*.section-heading { */
/*     text-align: center;  */
/*} */

.profile-icon { 
      color: white; 
      opacity: 0.6;
} 

.first-text-section { 
      text-align: justify;   
} 

.fixed-top { 
       background-color: black;    
} 

.footer {
    background-color: black;
    border-color: #EF5330;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #EF5330;
}


.footer-icon {
    color: #EF5330;
    font-size: 2em;
    text-decoration: none;
}

.footer-text {
    color: #EF5330;
}

.footer-logo {
    height: 1em;
    margin-bottom: 5px;
    color: #EF5330;
}

body { 
  text-align: justify; 
} 

.img-responsive {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 455px;
}

.portfolio_img { 
     width: 100%;
     margin-bottom: 30px;
} 

.portfolio_btn { 
     margin-bottom: 10px;  
} 

.alice-img { 
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
} 

.alice-btn { 
     margin-left: -10px;
} 

.summary-img { 
     width: 100%;
     margin-bottom: 10px;
} 